{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock title %}


{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h1 class="text-center">ایمیل ارسال شد.</h1>
            <hr>
            <h3 class="text-center">ایمیل خود را بررسی کنید.</h3>
            <hr>
            <h6 class="text-center">اطلاعات و دستورالعمل ها برای شما ارسال شد.</h3>
        </div>
    </div>
{% endblock content %}